* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

nav,
footer,
header {
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
  color: inherit;
}

input,
textarea {
  caret-color: currentColor;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 1;
}

textarea {
  resize: vertical;
}

a[href]:focus-visible,
button:focus-visible {
  outline: 2px solid var(--outline-color, currentColor);
  outline-offset: 2px;
}

a {
  color: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  font-size: inherit;
  background: none;
}

button:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

ul,
ul li,
ol,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h2,
h1 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.ibg {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.ibg img,
.ibg iframe {
  position: absolute;
  inset: 0;
  z-index: -2;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  outline-offset: 0;
}

.breadcrumbs {
  font-weight: 500;
  font-size: 15px;
  padding-block: 30px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 2px;
  column-gap: 2px;
  overflow-x: auto;
  overflow-y: hidden;
}

.breadcrumbs__item:not(:last-child) {
  display: flex;
  align-items: center;
  -moz-column-gap: 2px;
  column-gap: 2px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "/";
  color: #979797;
}

.breadcrumbs__link:not(.breadcrumbs__link--current) {
  color: #979797;
  transition-property: color;
  transition-duration: 0.3s;
}

.title-h1 {
  font-weight: 700;
  font-size: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 42px;
  padding-block: 5px;
  font-weight: 700;
  text-align: center;
  color: var(--button-color, #b2c3cd);
  background-color: var(--button-background-color, #fff);
  border: 1px solid #b2c3cd;
  transition-property: color, background-color;
  transition-duration: 0.3s;
  padding-inline: 40px;
  font-size: 17px;
}

html {
  scroll-padding-block-start: var(--header-height);
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: #000305;
  font-size: 18px;
}

.scroll-lock body {
  overflow: hidden;
}

.container {
  max-inline-size: var(--container-width, 1040px);
  margin-inline: auto;
  padding-inline: 20px;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.options {
  padding-block-start: 10px;
  padding-block-end: 55px;
}

.options__header {
  margin-block-end: 40px;
}

.options-form__main {
  margin-block-end: 50px;
}

.options-form__inner {
  display: grid;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 55px;
}

.options-form__example {
  margin-block-end: 50px;
}

.options-form__button {
  --button-color: #fff;
  --button-background-color: #b2c3cd;
  --button-hover-color: #b2c3cd;
  --button-hover-background-color: #fff;
  margin-inline: auto;
}

.options-radios--images {
  --options-radio-margin-bottom: 30px;
}

.options-radios__legend {
  font-weight: 500;
  margin-block-end: 30px;
}

.options-radios__radio:not(:last-child) {
  margin-block-end: var(--options-radio-margin-bottom, 15px);
}

.options-radios__label {
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
  column-gap: 13px;
  transition-property: color;
  transition-duration: 0.3s;
  cursor: pointer;
}

input:focus-visible ~ .options-radios__label {
  outline: 2px solid;
  outline-offset: 2px;
}

.options-radios__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  flex: 0 0 auto;
  inline-size: 24px;
  aspect-ratio: 1/1;
  font-size: 0;
  background-color: #bbbbbb;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.options-radios__icon::after {
  content: "";
  flex: inherit;
  inline-size: 50%;
  aspect-ratio: inherit;
  background-color: #000305;
  border-radius: inherit;
  transition-property: background-color;
  transition-duration: 0.3s;
}

input:not(:checked) ~ .options-radios__label .options-radios__icon::after {
  background-color: rgba(0, 3, 5, 0);
}

.options-radios__image {
  flex: 0 0 auto;
  inline-size: 50.8910891089%;
  aspect-ratio: 257/var(--options-radio-image-height, 14);
  font-size: 0;
}

.options-radios__caption {
  margin-block-start: 15px;
}

.options-radios__info {
  color: #dda46c;
}

.options-radios__button {
  margin-block-start: 50px;
}

.options-example__text {
  padding-block: 13px;
  padding-inline: 15px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 25px;
}

@media (min-width: 361px) {
  .options-form__inner {
    grid-template-columns: repeat(auto-fill, minmax(331px, 1fr));
  }
}

@media (max-width: 1040px) {
  .breadcrumbs {
    padding-block: calc(15px + 15 * (100vw - 375px) / 665);
  }

  .title-h1 {
    font-size: calc(18px + 7 * (100vw - 375px) / 665);
  }

  .button {
    padding-inline: calc(20px + 20 * (100vw - 375px) / 665);
  }

  .button {
    font-size: calc(15px + 2 * (100vw - 375px) / 665);
  }

  body {
    font-size: calc(16px + 2 * (100vw - 375px) / 665);
  }

  .options {
    padding-block-end: calc(30px + 25 * (100vw - 375px) / 665);
  }

  .options__header {
    margin-block-end: calc(20px + 20 * (100vw - 375px) / 665);
  }

  .options-form__main {
    margin-block-end: calc(20px + 30 * (100vw - 375px) / 665);
  }

  .options-form__inner {
    row-gap: calc(20px + 35 * (100vw - 375px) / 665);
  }

  .options-form__example {
    margin-block-end: calc(20px + 30 * (100vw - 375px) / 665);
  }

  .options-radios--images {
    --options-radio-margin-bottom: calc(15px + 15 * (100vw - 375px) / 665);
  }

  .options-radios__legend {
    margin-block-end: calc(10px + 20 * (100vw - 375px) / 665);
  }

  .options-radios__button {
    margin-block-start: calc(20px + 30 * (100vw - 375px) / 665);
  }

  .options-example__text {
    font-size: calc(18px + 7 * (100vw - 375px) / 665);
  }
}

@media (hover: hover) {
  a[href]:hover,
  button:hover {
    outline: none;
  }

  .breadcrumbs__link:not(.breadcrumbs__link--current):hover {
    color: #000305;
  }

  .button:hover {
    --button-color: var(--button-hover-color, #fff);
    --button-background-color: var(--button-hover-background-color, #b2c3cd);
  }

  .options-radios__label:hover {
    color: #dda46c;
  }

  .options-radios__label:hover .options-radios__icon {
    background-color: currentColor;
  }
}

@media (hover: none) {
  a[href]:active,
  button:active {
    outline: none;
    opacity: 0.5;
  }
}